<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.psmusic.dao.CommentUpMapper">
    <resultMap id="BaseResultMap" type="com.example.psmusic.domain.CommentUp" >
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="comment_id" jdbcType="INTEGER" property="commentId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,comment_id
    </sql>

    <insert id="insert" parameterType="com.example.psmusic.domain.CommentUp">
        insert into comment_up
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="commentId != null">
                comment_id,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="commentId != null">
                #{commentId},
            </if>
        </trim>        
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from comment_up
        where user_id=#{userId} and comment_id=#{commentId}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from comment_up
        where id=#{id}
    </select>
</mapper>
















